<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <!-- site metas -->
        <title>Administraci贸n de pedidos</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <%- include('../templates/head-content') %> 
        <script defer>
            if (success) {
                alert('Pedido agregado exitosamente')
            }
        </script>

</head>
<!-- body -->

<body class="main-layout">

    <%- include('../templates/loader') %> 
    <!-- header -->

    <%- include ('../templates/header' , {active_tab: 'admin'}) %> 
    

     <!-- end header -->
            <div class="container-fluid padding_dd">
                <div class="row">
                    <div class="container">
                    <div class="col-lg-12 col-md-12">
                        <div class="text-bg">
                            <h2>Nuevo pedido</h2>
                        </div>

                        <form id="form-pedido" role="form" class="Seguimiento">
                            <input class="" placeholder="Nombre" type="text" name="nombre">
                            <input class="" placeholder="Apellido" type="text" name="apellido">
                            <input class="" placeholder="Email" type="text" name="email">
                            <br>
                            <br>
                            <h3 for="buzon">Buz贸n:</h3>
                            <select class="nice-select " name="buzon" id="buzon">
                                <option value="RockCamp">RockCamp</option>
                                <option value="Sierra Elevation">Sierra Elevation</option>
                                <option value="Pico Norte">Pico Norte</option>
                                <option value="Delta">Delta</option>
                                <option value="Mad Complex">Mad Complex</option>
                            </select> 
                            <br>
                            <br>
                            <h3>Zapatos:</h3>
                            <input class="" placeholder="Marca" type="text" name="marca">
                            <input class="" placeholder="Modelo" type="text" name="modelo">
                            <input class="" placeholder="Talla EUR" type="text" name="talla">
                            <input class="" placeholder="# de pedido" type="text" name="num_pedido">
                            <input class="" placeholder="Comentario cliente" type="text" name="comentario_cliente">
                            <input class="" placeholder="Comentario resolador" type="text" name="comentario_resolador">
                            <br>
                            <br>
                            <h3>Servicio:</h3>
                            <p for="material_suela">Material suela:</p>
                            <select class="" id="material_suela" name="material_suela">
                                <option value="madrock">Mad Rock</option>
                                <option value="davos">Davos</option>
                            </select>
                            <br>
                            
                            <label><input type="checkbox" checked disabled class="" name="resolado">Resolado</label>
                            
                            <p>
                                Servicio Adicional:<br>
                                <label><input type="radio" name="servicioextra" value="cambio_de_liga"> Cambio de liga</label><br>
                                <label><input type="radio" name="servicioextra" value="parche"> Parche</label><br>
                                <label><input aria-checked="true" type="radio" name="servicioextra" value="ninguno"> Ninguno </label>
                            </p>
                            <button id="nuevo-pedido" class="Search_btn">Agregar</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <button id="guardar-cambios">Guardar cambios</button>
                <table class="table" id="pedidos">
                <h3>Pedidos</h3>
                <tbody>
                <tr>
                    <th scope="col" id="hnum"># de Pedido</th>
                    <th scope="col" id="hnombre">Nombre</th>
		            <th scope="col" id="hapellido">Apellido</th>
                    <th scope="col" id="hmarca">Marca</th>
                    <th scope="col" id="hmodelo">Modelo</th>
                    <th scope="col" id="htalla">Talla</th>
                    <th scope="col" id="hestado">Estado</th>
                </tr>
                <% if (typeof pedidos != 'undefined') { %>
                 
                    <% for( let i = 0; i < pedidos.length; i++ ) { %>
                        
                        <tr class="ped-row">
                            <td class="num" id="num<%=i%>"><%=pedidos[i].num_pedido%></td>
                            <td class="nom" id="nom<%=i%>"><%=pedidos[i].nombre%></td>
                            <td class="ape" id="ape<%=i%>"><%=pedidos[i].apellido%></td>
                            <td class="mar" id="mar<%=i%>"><%=pedidos[i].marca%></td>
                            <td class="mod" id="mod<%=i%>"><%=pedidos[i].modelo%></td>
                            <td class="tal" id="tal<%=i%>"><%=pedidos[i].talla%></td>
                            <td class="dropdown" id="est<%=i%>">
                                <select class="estatus" name="estatus<%= i %>" id="estatus<%= i %>">
                                <option <%= (pedidos[i].estatus_paso == 0) ? 'selected':"" %>  
                                    value="0">Depositado</option>
                                <option <%= (pedidos[i].estatus_paso == 1) ? 'selected':"" %> 
                                    value="1">Recibido</option>
                                <option <%= (pedidos[i].estatus_paso == 2) ? 'selected':"" %> 
                                    value="2">En reparaci贸n</option>
                                <option <%= (pedidos[i].estatus_paso == 3) ? 'selected':"" %> 
                                    value="3">Inspeccionado</option>
                                <option <%= (pedidos[i].estatus_paso == 4) ? 'selected':"" %> 
                                    value="4">Entregado</option>
                                </select>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
            </div>
                                
        </div>

          
</header>



    <!--  footer -->
<%- include ('../templates/footer') %> 
    <!-- end footer -->
<%- include('../templates/js-files') %> 

</body>

</html>
<script>
    (function($){
        $.fn.getFormData = function(){
          var data = {};
          var dataArray = $(this).serializeArray();
          for(var i=0;i<dataArray.length;i++){
            data[dataArray[i].name] = dataArray[i].value;
          }
          return data;
        }
      })(jQuery);

    $("#nuevo-pedido").click((e) => {
        e.preventDefault();
        var nuevo_pedido = $("#form-pedido").getFormData();
        console.log(nuevo_pedido);

        $.ajax({
            url: "/admin",
            method: "post",
            data: nuevo_pedido,
            success: (hasCompleted) => {
                if (hasCompleted) {
                    alert("Se ha agregado el nuevo pedido");
                } else {
                    
                    alert("Hubo un error al guardar el nuevo pedido");
                }
            }
        })

    })
    $("#guardar-cambios").on('click', () => {

        var cambios = [];

        $(".ped-row").each((i,row) => {
            var datos = {};
            datos['num_pedido'] = $(row).children(".num").text();
            datos['apellido'] = $(row).children(".ape").text();
            datos['estatus'] = $(row).children(".dropdown").find("option:selected").val();
            cambios.push(datos);
        });

        $.ajax({
            type: 'post',
            url: "/actualizar-estatus", 
            contentType: 'application/json',
            data: JSON.stringify(cambios),
            success: (saved) => {
                if (saved) {
                    alert("Se han guardado los estatus")
                } else {
                    alert('Ocurri贸 un error al actualizar los estatus')
                }
            }            
        })
    })
</script>
