<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <!-- site metas -->
        <title>Doctor Gatas</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <%- include('../templates/head-content') %> 

</head>
<!-- body -->

<body class="main-layout">

    <%- include('../templates/loader') %> 
    <!-- header -->

    <%- include ('../templates/header', {active_tab: 'inicio'}) %> 
    

     <!-- end header -->
     <section class="slider_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container-fluid padding_dd">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-bg">
                     <span>Te damos la bienvenida a Dr. Gatas</span>
                      <h1>Seguimiento de reparaciones</h1>
                      <p>Introduce aqui tu nombre y numero de pedido para consultar el estatus actual de tus gatas </p>
                      
                      <%- include('../templates/formulario-rastreo') %> 
                      
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="images_box">
                      <figure><img alt="gatas resoladas" src="images/gatas-resoladas.png"></figure>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</div>
</header>



    <!--  footer -->
<%- include ('../templates/footer') %> 
    <!-- end footer -->
<%- include('../templates/js-files') %> 

</body>

</html>