<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <!-- site metas -->
        <title>Rastreo de Pedidos</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <%- include('../templates/head-content') %> 
        <link rel="stylesheet" href="/css/progressbar.css">

</head>
<!-- body -->

<body class="main-layout">

    <%- include('../templates/loader') %> 
    <!-- header -->

    <%- include ('../templates/header' , {active_tab: 'rastreo'}) %> 
    

     <!-- end header -->
     

            <div class="container-fluid padding_dd">
                <div class="row">
                  <div class="col-lg-4 col-md-12">
                    <div class="text-bg">
                      <h2>Seguimiento de reparaciones</h2>

                      <%- include('../templates/formulario-rastreo') %> 

                    </div>
                </div>
                <% if (typeof pedido != 'undefined') { %>
                 
                    <div class="col-lg-7 col-lg-offset-1 col-md-12">
                        <div class="container">
                            <div class="row align-items-center" style="padding-top: 20px;padding-bottom: 20px;">
                                <div class="col">
                                    <p> <br> </p>
                            <ul class="progressbar">
                              <li class="<%= (0 <= pedido.estatus_paso) ? 'active':"" %>">Depositado</li>
                              <li class="<%= (1 <= pedido.estatus_paso) ? 'active':"" %>">Recibido</li>
                              <li class="<%= (2 <= pedido.estatus_paso) ? 'active':"" %>">En reparación</li>
                              <li class="<%= (3 <= pedido.estatus_paso) ? 'active':"" %>">Inspeccionado</li>
                              <li class="<%= (4 <= pedido.estatus_paso) ? 'active':"" %>">Entregado</li>
                            </ul>
                          </div>
                          </div>
                          </div>
                        <div class="row text-bg" style="padding-top: 20px;padding-bottom: 20px;">
                            <table class="table">
                                <tr>
                                    <th id="num_pedido"># de pedido</th>
                                    <td><%= pedido.num_pedido %></td>
                                </tr>
                                <tr>
                                    <th id="cliente">Cliente</th>
                                    <td><%= `${pedido.nombre} ${pedido.apellido}` %></td>
                                </tr>
                                <tr>
                                    <th id="zapatos">Zapatos</th>
                                    <td><%= `${pedido.marca} ${pedido.modelo}` %></td>
                                </tr>
                                <tr>
                                    <th id="talla">Talla</th>
                                    <td><%= pedido.talla %></td>
                                </tr>
                                </table>

                            <!-- </table>
                            <p># de pedido: <%= pedido.num_pedido %> </p>
                            <p>Cliente: <%= `${pedido.nombre} ${pedido.apellido}` %> </p>
                            <p>Zapatos: <%= `${pedido.marca} ${pedido.modelo}` %> </p>
                            <p>Talla: <%= pedido.talla %> </p> -->
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-lg-5 p-2">
                        <div class="d-flex align-items-center">
                            <p>Ingresa tu apellido y numero de pedido para realizar el seguimiento</p>
                        </div>
                    </div>
                 <% } %> 
                </div>
            </div>
          
</header>



    <!--  footer -->
<%- include ('../templates/footer') %> 
    <!-- end footer -->
<%- include('../templates/js-files') %> 

</body>

</html>