<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <!-- site metas -->
        <title>Rastreo de Pedidos</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <%- include('../templates/head-content') %> 
        <link rel="stylesheet" href="/css/progressbar.css">

</head>
<!-- body -->

<body class="main-layout">

    <%- include('../templates/loader') %> 
    <!-- header -->

    <%- include ('../templates/header' , {active_tab: 'rastreo'}) %> 
    

     <!-- end header -->
     

            <div class="container-fluid padding_dd">
                <div class="row">
                  <div class="col-lg-4 col-md-12">
                    <div class="text-bg">
                      <h2>Seguimiento de reparaciones</h2>

                      <%- include('../templates/formulario-rastreo') %> 

                    </div>
                </div>
                <% if (typeof pedido != 'undefined') { %>
                 
                    <div class="col-lg-7 col-lg-offset-1 col-md-12">
                        <div class="container">
                            <ul class="progressbar">
                              <li class="<%= (pedido.estatus == "Depositado") ? 'active':"" %>">Depositado</li>
                              <li class="<%= (pedido.estatus == "Recibido") ? 'active':"" %>">Recibido</li>
                              <li class="<%= (pedido.estatus == "En reparación") ? 'active':"" %>">En reparación</li>
                              <li class="<%= (pedido.estatus == "Inspeccionados") ? 'active':"" %>">Inspeccionados</li>
                              <li class="<%= (pedido.estatus == "Entregados") ? 'active':"" %>">Entregados</li>
                            </ul>
                          </div>
                        <div class="text-bg">
                            <p> </p>
                            <p>Cliente: <%= `${pedido.nombre} ${pedido.apellido}` %> </p>
                            <p>Zapatos: <%= `${pedido.marca} ${pedido.modelo}` %> </p>
                            <p>Talla: <%= pedido.talla %> </p>
                            <p>Estatus: <%= pedido.estatus %> </p>
                            <p>Estimado de entrega: <%# estimado %> </p>
                        </div>
                    </div>
                <% } %>
                </div>
            </div>
          
</header>



    <!--  footer -->
<%- include ('../templates/footer') %> 
    <!-- end footer -->
<%- include('../templates/js-files') %> 

</body>

</html>